// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   25-02-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 02-03-2017

article.card:not(.no-effect-img):hover picture img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: .8;


}

.img-element {
  margin-bottom: 60px;
}
