// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   25-02-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 30-03-2017
img.responsive-img {
    margin: 0px!important;
}
.card.horizontal .card-image img {
  width: 100%!important;
}
article.card:not(.no-effect-img):hover picture img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    opacity: .8;


}
article.card  .field--name-field-overview-image.field--type-image picture{
  position: relative;
}
.img-element {
  // margin-bottom: 60px;
}
img.responsive-img, video.responsive-video {
    margin: auto;
}
picture {
  position: relative;
  display: block;
}
.triggerModalIMG {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  width: 32px;
  background: #1c2229;
  cursor: zoom-in;
  opacity: 0.7;
}
.triggerModalIMG:hover img {
  opacity: 0.8;
}

figure {
  margin: 0px;
  position: relative;
}
figure:hover img{
  opacity: 0.8;
}

.card .card-image img, .card {
  border-radius: 0px!important;
}
