// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   20-02-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 30-03-2017

body::-webkit-scrollbar,*::-webkit-scrollbar {
    width:0;
    background-color:transparent;
}
// TODO add jQuery polify for ::-webkit-scrollbar

body > header{
  position: fixed;
  top: 0;
  height: 100px;
  width: calc(100%);
  z-index: 2;

  .brand-logo {
    position: absolute;
    left: 100px;
    top: 8px;
    height: 100px;
    width: 70px;
    background-image: url(../img/logo_white.png);
    background-image: url(../img/logo_white.svg);
    background-repeat: no-repeat;
    background-size: 70px auto;
    background-position: center;
  }

  /* Bof-  Button Menu Primary */
  .primary-nav-trigger {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
  }
  .primary-nav-trigger .menu-icon {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 32px;
    height: 4px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
  }
  .primary-nav-trigger .menu-icon::before, .primary-nav-trigger .menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
    -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
    transition: transform .3s, top .3s, background-color 0s;
  }
  .primary-nav-trigger .menu-icon::before {
    top: -10px;
  }
  .primary-nav-trigger .menu-icon::after {
    top: 10px;
  }
  .primary-nav-trigger .menu-icon.show {
    background-color: #1C2229;
  }
  .primary-nav-trigger .menu-icon.show::before, .primary-nav-trigger .menu-icon.show:after {
      background-color: #1C2229;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }
  /* Eof-  Button Menu Primary */

  .page-title {
    position: absolute;
    top: 50%;
    margin: 0;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 210px;
    font-size: 22px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
  }
}
body > header.show {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);

  .brand-logo {
    background-image: url(../img/logo_dark.png);
    background-image: url(../img/logo_dark.svg);
  }

  .page-title {
    opacity: 1;
    visibility: visible;
  }
}
body > header.side-panel-is-open {
    width: calc(100% - 280px);
}
body > header.menu-is-open {
    background-color: #1C2229;
    box-shadow: initial;
    transition: 10ms ease;

    .brand-logo {
      position: absolute;
      left: 100px;
      top: 8px;
      height: 100px;
      width: 70px;
      background-image: url(../img/logo_white.png);
      background-image: url(../img/logo_white.svg);
      background-repeat: no-repeat;
      background-size: 70px auto;
      background-position: center;
    }

    .primary-nav-trigger .menu-icon, .primary-nav-trigger .menu-icon::before, .primary-nav-trigger .menu-icon:after{
      background: #fff;
    }
    .primary-nav-trigger .menu-icon.active {
      background: transparent;

    }
    .primary-nav-trigger .menu-icon.active::before {
      top: -0px;
      transform: rotate3d(0,0,1,135deg);
    }
    .primary-nav-trigger .menu-icon.active::after {
      top: 0px;
      transform: rotate3d(0,0,1,-135deg);
    }

    .page-title {
      opacity: 0;
      visibility: hidden;
    }
}

body > main.row {
  transition: 300ms ease;
  margin-right: 0px;
}

main section.col.m7 .col:first-of-type{
  margin-top: 53px;
}

main section.col.m5  .col:first-of-type{
  margin-top: 60px;
  margin-bottom:0px;
}
main section.col.m7  .col{
  margin-top: 60px;
  padding: 0 20px 0 20px;
}
@media screen and (min-width: 601px) {
  .col.m7  .col{
    margin-top: 60px;
    padding: 0 40px 0 30px;
  }
}
@media screen and (min-width: 768px) {
  body > header {
    width: calc(100% - 60px);
  }
}

// removing window default scrollbar
@media screen and (min-width: 601px) {
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    width: calc(100% + 15px);
    padding-right: 15px;
  }
  .main-content.row > section.col {
      padding: 0 1rem;
  }
  section .row.small-item {
    padding: 0 30px 0 20px;
  }

}

@media screen and (min-width: 768px) {
  body > main.row {
    margin-right: 60px;
  }
  body > main.row.side-panel-is-open{
    margin-right:280px;
  }
}

section .row .col.s12, .row section.col.m6, .row section.col.l3 {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 600px) {
  .row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
    padding: 0 25px;
  }
}
@media screen and (max-width: 400px) {
  main>section.col.m7 {
    float: none!important;
  }
}
main>section.col.m7 {

}
