// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   21-02-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 30-03-2017


aside {
  display: none;
}
@media screen and (min-width: 768px) {
  aside {
    display: block;
  }
  .side-panel {
      position: fixed;
      top: 0;
      right: 0;
      width: 60px;
      height: 100%;
      background: #1C2229;
      overflow-y: auto;
      -webkit-transition: width 0.3s ease-in-out;
      -moz-transition: width 0.3s ease-in-out;
      transition: width 0.3s ease-in-out;
  }
  .side-panel .panel-header {
      position: fixed;
      height: 100px;
      width: 280px;
      background: #1C2229;
  }
  aside.side-panel-is-open {
    width: 280px;
  }
}






.side-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #1C2229;
  overflow-y: auto;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .side-panel .panel-header {
    position: fixed;
    z-index: 2;
    height: 100px;
    width: 280px;
    background: #1C2229; }
    .side-panel .panel-header .title {
      position: absolute;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      color: white;
      text-transform: uppercase; }
    .side-panel .panel-header.show {
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); }
  .side-panel .panel-container {
    padding: 100px 30px 30px;
    width: 280px;
    color: white;
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
    .side-panel .panel-container .tweet {
      padding: 20px 0;
      border-bottom: 1px solid #858888;
    }
    .side-panel .panel-container .tweet-body a {
      color: #6A6F8C;
    }
    .side-panel .panel-container .tweet-date {
      padding: 10px 0 0;
      color: #858888;
    }
    .side-panel .panel-container .tweet-text {
      margin-bottom: 8px;
      color: #858888;
    }
    .side-panel .panel-container .tweet-media {
      margin-top: 16px;

      img {
           width: 100%;
      }
    }

    .side-panel .panel-container .tweet-user-images {
      width: 44px;
      height: auto;
      margin-bottom: 5px;
    }
  .side-panel.side-panel-is-open {
    width: 280px; }
    .side-panel.side-panel-is-open .panel-container {
      opacity: 1;
      visibility: visible; }
  @media only screen and (max-width: 768px) {
    .side-panel {
      display: none;
      width: 100%;
      z-index: 3;
      top: 90%;
      right: 0; }
      .side-panel.hide {
        top: 120%; } }
