// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   26-02-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 06-03-2017

article.card.colored-article-post {
  background: #D17B64;
  color:#fff;
}
article.card.colored-article-post:hover {
  background: #1C2229;
}
.m6 > article.colored-article-post {
  overflow: hidden;
  text-align: left;
  margin-bottom: 0px;
  padding: 40px 20px;
  min-height: 300px;
  text-align: center;


  .field.field--name-field-overview-image.field--type-image.field--label-hidden.field__item {
    overflow: hidden;
  }

  h2 {
    margin: 0;
    font-size: 20px;
    margin-top: 10px;
  }
  h2 a .field.field--name-title.field--type-string.field--label-hidden{
      text-align: left;
      font-size: 20px;
      font-weight: 500;
      line-height: 25px;
      margin-bottom: 20px;
      color: #fff;
  }

  span.subscribe {
    display: block;
    text-align: center;
    margin: 60px auto  30px 0;
  }
  span.subscribe::after {
    content: 'Subscribe';
    border-bottom: solid 2px #fff;
  }
}
