// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   12-03-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 29-03-2017

.s12 > article.medium-article-post {
  overflow: hidden;
  text-align: center;
  margin:0 0px 0px 0px;
  background: transparent;

  .field.field--name-field-overview-image.field--type-image.field--label-hidden.field__item {
    overflow: hidden;
  }

  h2 {
    margin: 0;
    padding:0 20px;
    line-height: 1.2rem;
  }
  h2 a .field.field--name-title.field--type-string.field--label-hidden,
  h2 .field.field--name-title.field--type-string.field--label-hidden a{
      text-align: center;
      max-width: 80%;
      margin: 0 auto 10px;
      font-size: 36px;
      line-height: 42px;
      color: #1C2229;
      padding:0px;
  }

  .content-card {
    padding:0 20px;
    text-align: left;

    time.datetime {
        text-align: left;
    }

    h2 {
      padding: 0px;
    }
  }
  .card-image {
    max-width: 60%;

  }
}

@media screen and (max-width: 600px) {

  .s12 > article.medium-article-post {
    margin:0px -10px 50px;
  }
  .s12 > article.medium-article-post .card-image {
    max-width: 100%;
  }
  article.medium-article-post img.responsive-img {
     max-height: 100%;
     width: auto;
     max-width: none;
  }
  .card-stacked {
      display: block;
      position: relative;
      width: 100%;
      margin: 0px;
  }

  .card.horizontal .card-stacked {
      display: block!important;
      width: 100%;
  }

  article.card.horizontal.medium-article-post.z-depth-0.node.node--type-article.node--view-mode-overview-small {
      display: block;
  }
}

@media screen and (min-width: 601px) {
  .s12 > article.medium-article-post {
    .card-image {
      max-width: 100%;
       img.responsive-img {
         max-height: 100%;
         width: auto;
         max-width: none;
       }
    }
  }
}


.m6 > article.medium-article-post {
  overflow: hidden;
  text-align: left;
  margin-bottom: 40px;
  background: transparent;


    .field.field--name-field-overview-image.field--type-image.field--label-hidden.field__item {
      overflow: hidden;
    }

    h2 {
      margin: 0;
      font-size: 20px;
      margin-top: 10px;
    }
    h2 a .field.field--name-title.field--type-string.field--label-hidden{
        text-align: left;
        font-size: 20px;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 20px;
        color: #1C2229;
    }

}
