// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   12-03-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 12-03-2017


// search page
#search {

  // header Search Page
  .block-views-exposed-filter-blocksearch-page-1 {
    padding-top: 170px;

    input#edit-search-api-fulltext {
        font-size: 44px;
        padding: 10px 0px;
        text-align: center;
        border-bottom: solid 4px;
    }
    input#edit-search-api-fulltext::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #202020;
    }
    input#edit-search-api-fulltext::-moz-placeholder { /* Firefox 19+ */
      color: #202020;
    }
    input#edit-search-api-fulltext:-ms-input-placeholder { /* IE 10+ */
      color: #202020;
    }
    input#edit-search-api-fulltext:-moz-placeholder { /* Firefox 18- */
      color: #202020;
    }
    .input-field .prefix {
        right: 0;
        top: 20px;
        cursor: pointer;
    }
    .input-field .prefix.active {
        color: #202020;
    }

    @media screen and (max-width: 600px) {
      .input-field .prefix ~ input{
        margin-left: 1.5rem
      }
    }

    #edit-submit-search {
      display: none;
    }
  }

  .row .col.s12 {
      margin-bottom: 20px;
  }

  // Counter row search Page
  .search-result {
    font-weight: 700;
    padding: 0px 15px;
  }

  // Content search Page
  .node__content {

    .s12 time.datetime {
        text-align: left;
        margin-top: 0px;
    }

    h2 {
      text-align: left;
      max-width: 100%;
      margin: 0 0 10px;
      font-size: 36px;
      line-height: 42px;
      color: #1C2229;
      padding: 0px;

      a {
        color: #1C2229;
      }
    }

    .statistics_node {
      display: none;
    }

    .field__label {
          display: inline;
          font-weight: 700;
          margin-right: 10px;
    }
    .field__item {
          display: inline;
    }
    .field__items {
        display: inline;
    }
    a {
      color: #212121;
    }
    .field.field--label-inline {
        display: inline;
    }
    .field.field--label-inline::after{
      content: '/';
    }

  }
  img {
    margin-bottom:-10px;
  }
  article:not(.no-effect-img):hover picture img {
      transform: scale(1.2);
      opacity: .8;
  }
  .field--name-field-overview-image {
    position: relative;
    overflow: hidden;
    display: block!important;
  }

  article.node.node--type-article.node--view-mode-search-result::before {
      content: '';
      border-top: solid 2px #989898;
      padding: 0px 50px;
      margin-left: 15px;
  }
  figure, picture {
      display: inline-block;
      overflow: hidden;
  }
}
