// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   20-02-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 26-02-2017

// Using Materialize CSS Framework: ./dev/src/bower_components/materialize/dist/css/materialize.css

@import "./layout/page.scss";
@import "./navigation/main-nav.scss";
@import "./navigation/menu.scss";
@import "./aside/panel-container.scss";
@import "./elements/form/header-search.scss";

@import "./elements/blocks/wokshop.scss";
@import "./elements/blocks/small-article-exhibition.scss";
@import "./elements/blocks/colored-article-post.scss";
@import "./elements/blocks/large-post.scss";
@import "./elements/blocks/authors.scss";
@import "./elements/picture/card-image.scss";
@import "./elements/time.scss";

/* Fonts Face */
@font-face {
    font-family: 'karla-bold';
    src: url('../fonts/karla-wf/karla-bold-webfont.woff2') format('woff2'),
         url('../fonts/karla-wf/karla-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'karla-bold-italic';
    src: url('../fonts/karla-wf/karla-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/karla-wf/karla-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'karla-italic';
    src: url('../fonts/karla-wf/karla-italic-webfont.woff2') format('woff2'),
         url('../fonts/karla-wf/karla-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'karla-regular';
    src: url('../fonts/karla-wf/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla-wf/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Animation on resize */
body{
  font-family: "karla-regular", "Roboto", sans-serif;
  font-size: 18px;
  background: #F6F8F9;

  header, nav, nav a, .page-title , .sub-level, .sub-level-title, .sub-level-container, .arrow-toggle,
  .row, .col, img, section, article, .colored-article-post {
    transition: all 250ms ease-in-out;
  }
}
