// @Author: Nicolas Fazio <webmaster-fazio>
// @Date:   20-02-2017
// @Email:  contact@nicolasfazio.ch
// @Last modified by:   webmaster-fazio
// @Last modified time: 11-03-2017

// Using Materialize CSS Framework: ./dev/src/bower_components/materialize/dist/css/materialize.css

@import "./layout/page.scss";
@import "./navigation/main-nav.scss";
@import "./navigation/menu.scss";
@import "./aside/panel-container.scss";
@import "./elements/form/header-search.scss";

@import "./elements/blocks/wokshop.scss";
@import "./elements/blocks/small-article-exhibition.scss";
@import "./elements/blocks/full-article-exhibition.scss";
@import "./elements/blocks/colored-article-post.scss";
@import "./elements/blocks/large-post.scss";
@import "./elements/blocks/authors.scss";
@import "./elements/picture/card-image.scss";
@import "./elements/time.scss";

@import "./elements/blocks/related.scss";
@import "./elements/blocks/google.scss";
@import "./elements/blocks/small-pdf-post.scss";
@import "./elements/blocks/full-article.scss";
@import "./elements/blocks/small-people.scss";

@import "./elements/blocks/carousel.scss";
@import "./elements/blocks/md-select.scss";

/* Fonts Face */
@font-face {
    font-family: 'karla-bold';
    src: url('../fonts/karla-wf/karla-bold-webfont.woff2') format('woff2'),
         url('../fonts/karla-wf/karla-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'karla-bold-italic';
    src: url('../fonts/karla-wf/karla-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/karla-wf/karla-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'karla-italic';
    src: url('../fonts/karla-wf/karla-italic-webfont.woff2') format('woff2'),
         url('../fonts/karla-wf/karla-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'karla-regular';
    src: url('../fonts/karla-wf/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla-wf/karla-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/* Animation on resize */
body{
  font-family: "karla-regular", "Roboto", sans-serif;
  font-size: 18px;
  background: #F6F8F9;

  header, nav, nav a, .page-title , .sub-level, .sub-level-title, .sub-level-container, .arrow-toggle,
  .row, .col, img, section, article, .colored-article-post, .authors-list span a {
    transition: all 250ms ease-in-out;
  }
}

/* Remove md css on nav html tag */
nav:not(.primary-nav) {
  background: transparent;
  height: auto!important;
  line-height: inherit!important;
  color: inherit;
  box-shadow:none;
}

// Drupal hidde class reflect
.visually-hidden, .litebox-caption.field--label-hidden {
  display: none;
}


// people detail
#people-detail {
  padding: 60px 30px 40px 20px;

  @media screen and (max-width: 600px) {
    padding: 60px 20px 40px 20px;
  }

  h1#people-name {
     display: block;
     width: calc(100% - 10%);
     font-size: 44px;
     line-height: 50px;
     margin: auto;
     padding-top: 110px;
     margin-bottom: 0px;
     font-weight: 900;
     text-align: center;
 }
 #center-specialisation {
   padding-bottom: 60px;

   p.flow-text {
     margin:0;
   }
 }

 .row .col.s12.m6:first-of-type {
   padding-left: 0px;
   padding-right: 0px;
 }
 .row .col.s12.m6:last-of-type {
   padding-left: 0px;
   padding-right: 0px;
 }
}

section .row .col.m6.s12,
section .row .col.s12 {
  margin-bottom:60px;
}
